
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<title>UT3_exemple1</title>
		</head>
<body>
		<div class="container">
      <div class="jumbotron">
        <h1>UT3_Exemple1_gestioUsuarisMySQL</h1>
        <p>Benvingut {{ current_user.username }}</p>
      </div>
    </div>
<div class="row">
  <div class="col-md-3">
  	<div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">GESTION USUARIOS</h3>
      </div>
      <div class="panel-body">
      	<p><a class="btn btn-primary btn-sm" href="{{ url_for('modify_form')}}" role="button">Modificar Usuario </a></p>
      {% if current_user.rol=="admin" %}
              <p><a class="btn btn-primary btn-sm" href="{{ url_for('register_form')}}" role="button">Agregar Usuarios </a></p>
        {% endif %}
             <p><a class="btn btn-danger btn-sm" href="{{ url_for('logout')}}" role="button">Logout </a></p>
      </div>
    </div>
  </div>
        {% block content %}
        {% endblock %}
</div>
</body>
