{%extends "navbar.html" %}
{% block content %}

<!-- Index Post -->
<div class="container max-w-7xl mx-auto mt-8">
    <div class="mb-4">
      <h2 class="text-4xl font-extrabold dark:text-white">Intranet - Gestió carros</h2>
      <div class="flex justify-end">
        <a href="{{ url_for('crearCarro') }}" class="px-4 py-2 bg-green-600 text-white rounded-md inline-block"> Nou Carro </a>
      </div>
    </div>
    <div class="flex flex-col">
      <div class="overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
        <div class="inline-block min-w-full overflow-hidden align-middle border-b border-gray-200 shadow sm:rounded-lg">
          <table class="min-w-full">
            <thead>
              <tr>
                <th
                  class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
                  ID</th>
                <th
                  class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
                  Nom</th>
                <th
                  class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
                  Descripció</th>
                <th
                  class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
                  Clase</th>
                  <th
                  class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
                  Preu</th>
                <th class="px-6 py-3 text-sm text-left text-gray-500 border-b border-gray-200 bg-gray-50" colspan="2">
                  Action</th>
              </tr>
            </thead>
            <tbody class="bg-white">
              {% for carro in carros %}
              <tr>
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                  <div class="flex items-center">
                    {{ carro.id }}
                  </div>
  
                </td>
  
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                  <div class="text-sm leading-5 text-gray-900">{{ carro.nom }}
                  </div>
                </td>
  
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                  <p>{{ carro.descripcio }}</p>
                </td>
  
                <td class="px-6 py-4 text-sm leading-5 text-gray-500 whitespace-no-wrap border-b border-gray-200">
                  <span>{{ carro.clase }}</span>
                </td>
                <td class="px-6 py-4 text-sm leading-5 text-gray-500 whitespace-no-wrap border-b border-gray-200">
                  <span>{{ carro.preu }}</span>
                </td> 
                <td class="text-sm font-medium leading-5 text-center whitespace-no-wrap border-b border-gray-200 ">
                  
                  <a href="{{ url_for('editarCarro', id=carro.id) }}" class="px-4 py-2 bg-yellow-500 text-white rounded-md">Editar</a>
                  <a href="{{ url_for('eliminarCarro', id=carro.id) }}" class="px-4 py-2 bg-red-500 text-white rounded-md">Eliminar</a>
  
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}