<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

  <nav
  class="relative flex w-full flex-wrap items-center justify-between bg-[#FBFBFB] py-2 text-neutral-500 shadow-lg hover:text-neutral-700 focus:text-neutral-700 dark:bg-neutral-600 lg:py-4">
  <div class="flex w-full flex-wrap items-center justify-between px-3">
    <div>
      <a
        class="mx-2 my-1 flex items-center text-neutral-900 hover:text-neutral-900 focus:text-neutral-900 lg:mb-0 lg:mt-0"
        href="#">
        <img
          class="mr-2"
          src="../static/logo.png"
          style="height: 20px"
          alt="TE Logo"
          loading="lazy" />
        <span class="font-medium dark:text-neutral-200">Desenvolupament web en entorn servidor - Pràctica 2, curs 24/25</span>
      </a>
    </div>
  </div>
</nav>
<ul class="flex border-b">
  <li class="-mb-px mr-1">
    <a class="bg-white inline-block border-l border-t border-r rounded-t py-2 px-4 text-blue-700 font-semibold" href="{{ url_for('carros') }}">Llista de Carros</a>
  </li>
  <li class="mr-1">
    <a class="bg-white inline-block py-2 px-4 text-blue-500 hover:text-blue-800 font-semibold" href="{{ url_for('carros2') }}">Reserva un carro</a>
  </li>
  <li class="mr-1">
    <a class="bg-white inline-block py-2 px-4 text-blue-500 hover:text-blue-800 font-semibold" href="{{ url_for('carros3') }}">Llista de reserves</a>
  </li>
  <li class="-mb-px mr-1">
    <a class="bg-white inline-block py-2 px-4 text-blue-500 hover:text-blue-800 font-semibold" href="{{ url_for('carros4') }}">Intranet-carros</a>
  </li>
</ul>


<!-- Index Post -->
<div class="container max-w-7xl mx-auto mt-8">
    <div class="mb-4">
      <h2 class="text-4xl font-extrabold dark:text-white">Intranet - Gestió carros</h2>
      <div class="flex justify-end">
        <a href="{{ url_for('crearCarro') }}" class="px-4 py-2 bg-green-600 text-white rounded-md inline-block"> Nou Carro </a>
      </div>
    </div>
    <div class="flex flex-col">
      <div class="overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
        <div class="inline-block min-w-full overflow-hidden align-middle border-b border-gray-200 shadow sm:rounded-lg">
          <table class="min-w-full">
            <thead>
              <tr>
                <th
                  class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
                  ID</th>
                <th
                  class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
                  Nom</th>
                <th
                  class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
                  Descripció</th>
                <th
                  class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
                  Clase</th>
                  <th
                  class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
                  Preu</th>
                <th class="px-6 py-3 text-sm text-left text-gray-500 border-b border-gray-200 bg-gray-50" colspan="2">
                  Action</th>
              </tr>
            </thead>
            <tbody class="bg-white">
              {% for carro in carros %}
              <tr>
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                  <div class="flex items-center">
                    {{ carro.id }}
                  </div>
  
                </td>
  
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                  <div class="text-sm leading-5 text-gray-900">{{ carro.nom }}
                  </div>
                </td>
  
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                  <p>{{ carro.descripcio }}</p>
                </td>
  
                <td class="px-6 py-4 text-sm leading-5 text-gray-500 whitespace-no-wrap border-b border-gray-200">
                  <span>{{ carro.clase }}</span>
                </td>
                <td class="px-6 py-4 text-sm leading-5 text-gray-500 whitespace-no-wrap border-b border-gray-200">
                  <span>{{ carro.preu }}</span>
                </td> 
                <td class="text-sm font-medium leading-5 text-center whitespace-no-wrap border-b border-gray-200 ">
                  
                  <a href="{{ url_for('editarCarro', id=carro.id) }}" class="px-4 py-2 bg-yellow-500 text-white rounded-md">Editar</a>
                  <a href="{{ url_for('eliminarCarro', id=carro.id) }}" class="px-4 py-2 bg-red-500 text-white rounded-md">Eliminar</a>
  
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  



</body>
</html>