{% extends "base.html"%}
{% block content %}

  <h2 class="text-4xl font-extrabold dark:text-white">Bàsic</h2>

  <div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    USUARI
                </th>
                <th scope="col" class="px-6 py-3">
                    Carro
                </th>
                <th scope="col" class="px-6 py-3">
                    Dia
                </th>
            </tr>
        </thead>
        <tbody>
         {% for r in reserves %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ r.usuari }}
                </th>
                <td class="px-6 py-4">
                    {{ r.carro}}
                </td>
                <td class="px-6 py-4">
                    {{ r.dia }}
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</div>

<h2 class="text-4xl font-extrabold dark:text-white">Avançat</h2>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase dark:text-gray-400">
          <tr>
              <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                  Carro
              </th>
              <th scope="col" class="px-6 py-3">
                  {{dies[0]}}
              </th>
              <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                  {{dies[1]}}
              </th>
              <th scope="col" class="px-6 py-3">
                 {{dies[2]}}
              </th>
              <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                   {{dies[3]}}
              </th>
              <th scope="col" class="px-6 py-3">
                   {{dies[4]}}
              </th>
          </tr>
      </thead>
      <tbody>
      {% for a in taulaAv %}
          <tr class="border-b border-gray-200 dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                {{ a[0] }}
              </th>
              <td class="px-6 py-4">
                {{ a[1] }}
              </td>
              <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
               {{ a[2] }}
              </td>
              <td class="px-6 py-4">
               {{ a[3] }}
              </td>
              <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
               {{ a[4] }}
              </td>
              <td class="px-6 py-4">
               {{ a[5] }}
              </td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
</div>

{% endblock %}